<form action="" method="GET" id="filter">
  <input type="hidden" name="page" value="1" form="filter">
  <%_ forms.forEach((form,i) => {-%>
  <div class="form-group row">
    <!-- Checkbox & Label-->
    <div class="custom-control custom-checkbox col-12 col-sm-3">
      <input class="custom-control-input" type="checkbox" id="<%=form.name%>" name="checkBox" value="<%=form.name%>"
        aria-label="<%=form.name%>" form="filter" <%=checked.includes(form.name) ? 'checked' : ''%>>
      <label class="custom-control-label" for="<%=form.name%>"><%=form.label%></label>
    </div>
    <!-- Input -->
    <div class="col-12 col-sm-9">
      <%_ if (form.type==='select') {-%>
      <select name="<%=form.name%>" form="filter" class="selectpicker form-control" data-live-search="true"
        title="<%=form.name=='done' ? 'Percentage' : `Choose the ${form.label.toLowerCase()}`%>">
        <%_ form.optValues.forEach((opt, i) => { -%>
        <option value="<%=opt%>" <%=checked.includes(form.name) ? (form.value==opt ? 'selected' : '') : ''%>>
          <%=form.options[i]%>
        </option>
        <%_ });%>
      </select>
      <%_ } else if (form.type==='date'){-%>
      <input id="datepicker<%=i%>" width="auto" name="<%=form.name%>" placeholder="<%=form.label%>" form="filter"
        value="<%=checked.includes(form.name) ? form.value : ''%>">
      <script>
        $('#datepicker<%=i%>').datepicker({
          uiLibrary: 'bootstrap4'
        });
      </script>
      <%_ } else {-%>
      <input type="<%=form.type%>" class="form-control" name="<%=form.name%>" placeholder="<%=form.label%>"
        form="filter" value="<%=checked.includes(form.name) ? form.value : ''%>">
      <%_ }-%>
    </div>
  </div>
  <%_ });%>
  <!-- Search button -->
  <div class="form-group row">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>