<div class="d-md-flex bg-light sidebar collapse navbar-collapse" id="sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <a class="nav-link <%=projectPath=='/overview' ? 'active' : ''%>" href="/projects/overview/<%=projectId%>">
          Overview
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%=projectPath=='/activity' ? 'active' : ''%>" href="/projects/activity/<%=projectId%>">
          Activity
        </a>
      </li>
    </ul>
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <a class="nav-link <%=projectPath=='/members' ? 'active' : ''%>" href="/projects/members/<%=projectId%>">
          Members
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%=projectPath=='/issues' ? 'active' : ''%>" href="/projects/issues/<%=projectId%>">
          Issues
        </a>
      </li>
    </ul>
  </div>
</div>