<!-- TABLE -->
<%_ if (numOfPages>0 && colNames.length>0){-%>
<div class="table-responsive table-responsive-sm table-responsive-md">
  <table class="table table-striped">
    <thead>
      <tr>
        <%_ colNames.forEach(col => {-%>
        <th scope="col" style="vertical-align:middle"><%=col%></th>
        <%_ });-%>
        <th scope="col" style="vertical-align:middle">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%_ data.forEach(row => { -%>
      <tr tabindex="-1">
        <%_ colPg.forEach(col => { -%>
        <td style="vertical-align:middle">
          <%_ if(col=='projectid'){ -%>
          <a href="projects/overview/<%=row[col]%>"><%=row[col]%></a>
          <%_ } else if(col=='files'){ -%>
            <%_ let ext = pathLib.extname(row[col])-%>
            <%_ let fileName = pathLib.basename(row[col])-%>
            <%_ fileName = fileName.split('-').slice(3).join('-')-%>
            <a href="<%=row[col]%>">
              <%_ if (['.jpg','.jpeg', '.png', '.ico'].includes(ext)){-%>
              <img src="<%=row[col]%>" alt="<%=fileName%>" height="75">
              <%_ } else {-%>
              <%=fileName%>
              <%_ } -%>
            </a>
          <%_ } else{ -%>
          <%=row[col]%>
          <%_ } -%>
        </td>
        <%_ }); -%>
        <td style="vertical-align:middle">
          <a href="<%=url.slice(0,url.indexOf('?'))%>/edit/<%=row[primaryKey]%>" role="button"
            class="btn btn-success mr-1">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit
          </a>
          <%_ if(admin || tableName!=='Projects') {-%>
          <a href="<%=url.slice(0,url.indexOf('?'))%>/delete/<%=row[primaryKey]%>" role="button" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>Delete
          </a>
          <%_}%>
        </td>
      </tr>
      <%_ }); -%>
    </tbody>
  </table>
</div>
<!-- alert on change -->
<% include ./notif-alert %>
<!-- Pagination -->
<% include ./pagination %>
<%_ } else if (colNames.length==0) {-%>
<h6>No columns displayed</h6>
<%_ } else {-%>
<h6><%=tableName%> are not found</h6>
<%_ if(url1.includes('page')){-%>
<script>
  $(document).ready(() => {
    $('.fa-plus').attr('tabindex', -1);
    $(".fa-plus").focus();
  })
</script>
<%_ }-%>
<%_ } -%>