<!-- TABLE -->
<%_ if (numOfPages>0 && colNames.length>0){-%>
<div class="table-responsive table-responsive-sm table-responsive-md">
  <table class="table table-striped">
    <thead>
      <tr>
        <%_ colNames.forEach(col => {-%>
        <th scope="col"><%=col%></th>
        <%_ });-%>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%_ data.forEach(row => { -%>
      <tr tabindex="-1">
        <%_ colPg.forEach(col => { -%>
        <td>
          <%_ if(col=='projectid'){ -%>
          <a href="overview/<%=row[col]%>"><%=row[col]%></a>
          <%_ } else{ -%>
          <%=row[col]%>
          <%_ } -%>
        </td>
        <%_ }); -%>
        <td>
          <a href="<%=path%>/edit/<%=row[primaryKey]%>" role="button" class="btn btn-success mr-1">Edit</a>
          <%_ if(admin) {-%>
          <a href="<%=path%>/delete/<%=row[primaryKey]%>" role="button" class="btn btn-danger">Delete</a>
          <%_}-%>
        </td>
      </tr>
      <%_ }); -%>
    </tbody>
  </table>
</div>
<!-- Pagination -->
<% include ./pagination %>
<%_ } else if (numOfPages==0) {-%>
<h5>Projects are not found</h5>
<%_ } else {-%>
<h5>No columns displayed</h5>
<%_ } -%>